<?xml version="1.0"?>
<!--
Copyright (C) 2019 Paymentsense Ltd.

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 3
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

@author      Paymentsense
@copyright   2019 Paymentsense Ltd.
@license     https://www.gnu.org/licenses/gpl-3.0.html
-->
<config>
    <sections>
        <payment>
            <groups>
                <paymentsense_hosted translate="label" module="paymentsense">
                    <label>Paymentsense Hosted</label>
                    <comment>
                        <![CDATA[Accept credit/debit cards by collecting customer card data on a secure form on the Paymentsense Gateway.]]>
                    </comment>
                    <sort_order>6</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <status_info>
                            <frontend_model>paymentsense/adminhtml_system_config_status_hosted</frontend_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <sort_order>00</sort_order>
                        </status_info>
                        <active translate="label">
                            <label>Enabled</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>01</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </active>
                        <title translate="label">
                            <label>Title</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>02</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <validate>required-entry</validate>
                            <can_be_empty>0</can_be_empty>
                        </title>
                        <merchant_id translate="label">
                            <label>Gateway MerchantID</label>
                            <comment>
                                <![CDATA[This is the gateway MerchantID not used with the MMS login. The Format should match the following ABCDEF-1234567]]>
                            </comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>03</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                            <validate>required-entry</validate>
                            <can_be_empty>0</can_be_empty>
                            <depends>
                                <active>1</active>
                            </depends>
                        </merchant_id>
                        <password translate="label">
                            <label>Gateway Password</label>
                            <comment>
                                <![CDATA[This is the gateway Password not used with the MMS login. The Password should use lower case and uppercase letters, and numbers only.]]>
                            </comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>04</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                            <validate>required-entry</validate>
                            <can_be_empty>0</can_be_empty>
                            <depends>
                                <active>1</active>
                            </depends>
                        </password>
                        <preshared_key translate="label">
                            <label>Gateway PreSharedKey</label>
                            <comment>
                                <![CDATA[This is located within the MMS under "Account Admin Settings" > "Account Settings".]]>
                            </comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>05</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                            <validate>required-entry</validate>
                            <can_be_empty>0</can_be_empty>
                            <depends>
                                <active>1</active>
                            </depends>
                        </preshared_key>
                        <hash_method translate="label">
                            <label>Gateway Hash Method</label>
                            <comment>
                                <![CDATA[This is the hash method set in MMS under "Account Admin" > "Account Settings". By default, this will be SHA1.]]>
                            </comment>
                            <frontend_type>select</frontend_type>
                            <source_model>paymentsense/admin_options_hash_method</source_model>
                            <sort_order>06</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                            <can_be_empty>1</can_be_empty>
                            <validate>required-entry</validate>
                            <can_be_empty>0</can_be_empty>
                            <depends>
                                <active>1</active>
                            </depends>
                        </hash_method>
                        <transaction_type translate="label">
                            <label>Transaction Type</label>
                            <comment>
                                <![CDATA[If you wish to obtain authorisation for the payment only, as you intend to manually collect the payment via the MMS, choose Pre-auth.]]>
                            </comment>
                            <frontend_type>select</frontend_type>
                            <source_model>paymentsense/admin_options_transaction_type</source_model>
                            <sort_order>07</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                            <validate>required-entry</validate>
                            <can_be_empty>0</can_be_empty>
                            <depends>
                                <active>1</active>
                            </depends>
                        </transaction_type>
                        <result_delivery_method translate="label">
                            <label>Result Delivery Method</label>
                            <comment>
                                <![CDATA[The Server Result Method determines how the transaction results are delivered back to the Magento store.]]>
                            </comment>
                            <frontend_type>select</frontend_type>
                            <source_model>paymentsense/admin_options_result_delivery</source_model>
                            <sort_order>08</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                            <validate>required-entry</validate>
                            <can_be_empty>0</can_be_empty>
                            <depends>
                                <active>1</active>
                            </depends>
                        </result_delivery_method>
                        <order_status translate="label">
                            <label>New Order Status</label>
                            <comment>
                                <![CDATA[Select the default order status for new orders.]]>
                            </comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_order_status_new</source_model>
                            <sort_order>09</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                            <validate>required-entry</validate>
                            <can_be_empty>0</can_be_empty>
                            <depends>
                                <active>1</active>
                            </depends>
                        </order_status>
                        <allowspecific translate="label">
                            <label>Payment from Applicable Countries</label>
                            <frontend_type>allowspecific</frontend_type>
                            <sort_order>10</sort_order>
                            <source_model>adminhtml/system_config_source_payment_allspecificcountries</source_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                            <validate>required-entry</validate>
                            <can_be_empty>0</can_be_empty>
                            <depends>
                                <active>1</active>
                            </depends>
                        </allowspecific>
                        <specificcountry translate="label">
                            <label>Payment from Specific Countries</label>
                            <frontend_type>multiselect</frontend_type>
                            <sort_order>11</sort_order>
                            <source_model>adminhtml/system_config_source_country</source_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                            <validate>required-entry</validate>
                            <can_be_empty>0</can_be_empty>
                            <depends>
                                <active>1</active>
                                <allowspecific>1</allowspecific>
                            </depends>
                        </specificcountry>
                        <log_level translate="label">
                            <label>Log Level</label>
                            <frontend_type>select</frontend_type>
                            <source_model>paymentsense/admin_options_log_level</source_model>
                            <sort_order>12</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                            <can_be_empty>1</can_be_empty>
                            <validate>required-entry</validate>
                            <can_be_empty>0</can_be_empty>
                            <depends>
                                <active>1</active>
                            </depends>
                        </log_level>
                        <port_4430_not_open translate="label">
                            <label>Port 4430 is NOT open on my server (safe mode with cross reference transactions disabled)</label>
                            <comment>
                                <![CDATA[Cross reference transactions (COLLECTION, REFUND, VOID) require outbound port 4430 to be open. When port 4430 is not open this setting should be set to "Yes" to disable these transactions.]]>
                            </comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>13</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                            <depends>
                                <active>1</active>
                            </depends>
                        </port_4430_not_open>
                    </fields>
                </paymentsense_hosted>
                <paymentsense_direct translate="label" module="paymentsense">
                    <label>Paymentsense Direct</label>
                    <comment>
                        <![CDATA[Accept credit/debit cards by phone or mail by using Paymentsense Direct. An SSL/TLS connection
                        is required for this payment method*.<br><small>* For more information on PCI Compliance please read <a
                        href="https://magento.com/pci-compliance" target="_blank">https://magento.com/pci-compliance</a>
                        or visit the PCI Security Standards Council webiste at <a href="https://www.pcisecuritystandards.org"
                        target="_blank">https://www.pcisecuritystandards.org</a>.</small><br><br>]]>
                    </comment>
                    <sort_order>7</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <status_info>
                            <frontend_model>paymentsense/adminhtml_system_config_status_direct</frontend_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <sort_order>00</sort_order>
                        </status_info>
                        <active translate="label">
                            <label>Enabled</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>01</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                            <validate>required-entry</validate>
                            <can_be_empty>0</can_be_empty>
                        </active>
                        <title translate="label">
                            <label>Title</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>02</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <validate>required-entry</validate>
                            <can_be_empty>0</can_be_empty>
                        </title>
                        <merchant_id translate="label">
                            <label>Gateway MerchantID</label>
                            <comment>
                                <![CDATA[This is the gateway MerchantID not used with the MMS login. The Format should match the following ABCDEF-1234567]]>
                            </comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>03</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                            <validate>required-entry</validate>
                            <can_be_empty>0</can_be_empty>
                            <depends>
                                <active>1</active>
                            </depends>
                        </merchant_id>
                        <password translate="label">
                            <label>Gateway Password</label>
                            <comment>
                                <![CDATA[This is the gateway Password not used with the MMS login. The Password should use lower case and uppercase letters, and numbers only.]]>
                            </comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>04</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                            <validate>required-entry</validate>
                            <can_be_empty>0</can_be_empty>
                            <depends>
                                <active>1</active>
                            </depends>
                        </password>
                        <transaction_type translate="label">
                            <label>Transaction Type</label>
                            <comment>
                                <![CDATA[If you wish to obtain authorisation for the payment only, as you intend to manually collect the payment via the MMS, choose Pre-auth.]]>
                            </comment>
                            <frontend_type>select</frontend_type>
                            <source_model>paymentsense/admin_options_transaction_type</source_model>
                            <sort_order>05</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                            <validate>required-entry</validate>
                            <can_be_empty>0</can_be_empty>
                            <depends>
                                <active>1</active>
                            </depends>
                        </transaction_type>
                        <order_status translate="label">
                            <label>New Order Status</label>
                            <comment>
                                <![CDATA[Select the default order status for new orders.]]>
                            </comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_order_status_processing</source_model>
                            <sort_order>06</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                            <validate>required-entry</validate>
                            <can_be_empty>0</can_be_empty>
                            <depends>
                                <active>1</active>
                            </depends>
                        </order_status>
                        <allowspecific translate="label">
                            <label>Payment from Applicable Countries</label>
                            <frontend_type>allowspecific</frontend_type>
                            <sort_order>07</sort_order>
                            <source_model>adminhtml/system_config_source_payment_allspecificcountries</source_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                            <validate>required-entry</validate>
                            <can_be_empty>0</can_be_empty>
                            <depends>
                                <active>1</active>
                            </depends>
                        </allowspecific>
                        <specificcountry translate="label">
                            <label>Payment from Specific Countries</label>
                            <frontend_type>multiselect</frontend_type>
                            <sort_order>08</sort_order>
                            <source_model>adminhtml/system_config_source_country</source_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                            <validate>required-entry</validate>
                            <can_be_empty>0</can_be_empty>
                            <depends>
                                <active>1</active>
                                <allowspecific>1</allowspecific>
                            </depends>
                        </specificcountry>
                        <cctypes translate="label">
                            <label>Credit Card Types</label>
                            <frontend_type>multiselect</frontend_type>
                            <source_model>adminhtml/system_config_source_payment_cctype</source_model>
                            <sort_order>09</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                            <validate>required-entry</validate>
                            <can_be_empty>0</can_be_empty>
                            <depends>
                                <active>1</active>
                            </depends>
                        </cctypes>
                        <log_level translate="label">
                            <label>Log Level</label>
                            <frontend_type>select</frontend_type>
                            <source_model>paymentsense/admin_options_log_level</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                            <can_be_empty>1</can_be_empty>
                            <validate>required-entry</validate>
                            <can_be_empty>0</can_be_empty>
                            <depends>
                                <active>1</active>
                            </depends>
                        </log_level>
                    </fields>
                </paymentsense_direct>
                <paymentsense_moto translate="label" module="paymentsense">
                    <label>Paymentsense MOTO</label>
                    <comment>
                        <![CDATA[Accept credit/debit cards by phone or mail by using Paymentsense MOTO. An SSL/TLS connection
                        is required for this payment method*.<br><small>* For more information on PCI Compliance please read <a
                        href="https://magento.com/pci-compliance" target="_blank">https://magento.com/pci-compliance</a>
                        or visit the PCI Security Standards Council webiste at <a href="https://www.pcisecuritystandards.org"
                        target="_blank">https://www.pcisecuritystandards.org</a>.</small><br><br>]]>
                    </comment>
                    <sort_order>8</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <status_info>
                            <frontend_model>paymentsense/adminhtml_system_config_status_moto</frontend_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <sort_order>00</sort_order>
                        </status_info>
                        <active translate="label">
                            <label>Enabled</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>01</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                            <validate>required-entry</validate>
                            <can_be_empty>0</can_be_empty>
                        </active>
                        <title translate="label">
                            <label>Title</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>02</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <validate>required-entry</validate>
                            <can_be_empty>0</can_be_empty>
                        </title>
                        <merchant_id translate="label">
                            <label>Gateway MerchantID</label>
                            <comment>
                                <![CDATA[This is the gateway MerchantID not used with the MMS login. The Format should match the following ABCDEF-1234567]]>
                            </comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>03</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                            <validate>required-entry</validate>
                            <can_be_empty>0</can_be_empty>
                            <depends>
                                <active>1</active>
                            </depends>
                        </merchant_id>
                        <password translate="label">
                            <label>Gateway Password</label>
                            <comment>
                                <![CDATA[This is the gateway Password not used with the MMS login. The Password should use lower case and uppercase letters, and numbers only.]]>
                            </comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>04</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                            <validate>required-entry</validate>
                            <can_be_empty>0</can_be_empty>
                            <depends>
                                <active>1</active>
                            </depends>
                        </password>
                        <transaction_type translate="label">
                            <label>Transaction Type</label>
                            <comment>
                                <![CDATA[If you wish to obtain authorisation for the payment only, as you intend to manually collect the payment via the MMS, choose Pre-auth.]]>
                            </comment>
                            <frontend_type>select</frontend_type>
                            <source_model>paymentsense/admin_options_transaction_type</source_model>
                            <sort_order>05</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                            <validate>required-entry</validate>
                            <can_be_empty>0</can_be_empty>
                            <depends>
                                <active>1</active>
                            </depends>
                        </transaction_type>
                        <order_status translate="label">
                            <label>New Order Status</label>
                            <comment>
                                <![CDATA[Select the default order status for new orders.]]>
                            </comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_order_status_processing</source_model>
                            <sort_order>06</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                            <validate>required-entry</validate>
                            <can_be_empty>0</can_be_empty>
                            <depends>
                                <active>1</active>
                            </depends>
                        </order_status>
                        <allowspecific translate="label">
                            <label>Payment from Applicable Countries</label>
                            <frontend_type>allowspecific</frontend_type>
                            <sort_order>07</sort_order>
                            <source_model>adminhtml/system_config_source_payment_allspecificcountries</source_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                            <validate>required-entry</validate>
                            <can_be_empty>0</can_be_empty>
                            <depends>
                                <active>1</active>
                            </depends>
                        </allowspecific>
                        <specificcountry translate="label">
                            <label>Payment from Specific Countries</label>
                            <frontend_type>multiselect</frontend_type>
                            <sort_order>08</sort_order>
                            <source_model>adminhtml/system_config_source_country</source_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                            <validate>required-entry</validate>
                            <can_be_empty>0</can_be_empty>
                            <depends>
                                <active>1</active>
                                <allowspecific>1</allowspecific>
                            </depends>
                        </specificcountry>
                        <cctypes translate="label">
                            <label>Credit Card Types</label>
                            <frontend_type>multiselect</frontend_type>
                            <source_model>adminhtml/system_config_source_payment_cctype</source_model>
                            <sort_order>09</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                            <validate>required-entry</validate>
                            <can_be_empty>0</can_be_empty>
                            <depends>
                                <active>1</active>
                            </depends>
                        </cctypes>
                        <log_level translate="label">
                            <label>Log Level</label>
                            <frontend_type>select</frontend_type>
                            <source_model>paymentsense/admin_options_log_level</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                            <can_be_empty>1</can_be_empty>
                            <validate>required-entry</validate>
                            <can_be_empty>0</can_be_empty>
                            <depends>
                                <active>1</active>
                            </depends>
                        </log_level>
                    </fields>
                </paymentsense_moto>
            </groups>
        </payment>
    </sections>
</config>